body{
    background-image:linear-gradient(180deg, rgba(229, 14, 50, 0.2), rgba(7, 39, 76, 0.99));
}


nav{
    transition: background-color 0.2s ease-in-out;
}
.card{
    border-radius: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    border: 0;
}

.logo {
    transform: scale(0.4);
  }